
<script type="text/javascript">
	function checkForm(){
		var password0=document.getElementById("password0").value;
		var password1=document.getElementById("password1").value;
		var password2=document.getElementById("password2").value;
		if(password0==""){
			document.getElementById("error").innerHTML="请填写原密码";
			return false;
		}else if(password1==""){
			document.getElementById("error").innerHTML="请填写新密码";
			return false;
		}else if (password2==""){
			document.getElementById("error").innerHTML="请重复新密码";
			return false;
		}else if (password1!=password2){
			document.getElementById("error").innerHTML="两次密码不一样";
			return false;
		}
		return true;
	}
	
	$(document).ready(function(){
			$("ul li:contains(修改密码)").addClass("active");
			console.log($('#choose').val()+"1");
			$("#choose").change(function(){
			console.log($('#choose').val()+"2");
		  	//alert($('#choose').val()+"8");
		});
	});
</script>
<div class="data_list">
		<div class="data_list_title">
		
			修改密码
		</div>
		<form action="__CONTROLLER__/change" method="post" onsubmit="return checkForm()">
			<div class="data_form" >
					<div align="center">
						<font id="error" color="red">{$error }</font>
					</div>
				<input type="hidden" id="userId" name="userId" value="{$currentUser.userId }"/>
					<table align="center">
						<tr>
							<td><font color="red">*</font>原密码：</td>
							<td><input type="password" id="password0"  name="password0" value=""  style="margin-top:5px;height:30px;" /></td>
						</tr>
						<tr>
							<td><font color="red">*</font>新密码：</td>
							<td><input type="password" id="password1"  name="password1" value=""  style="margin-top:5px;height:30px;" /></td>
						</tr>
						<tr>
							<td><font color="red">*</font>重复新密码：</td>
							<td><input type="password" id="password2"  name="password2" value=""  style="margin-top:5px;height:30px;" /></td>
						</tr>
					</table>
					<div align="center">
						<input type="submit" class="btn btn-primary" value="保存"/>
						&nbsp;<button class="btn btn-primary" type="button" onclick="javascript:window.location='__MODULE__/Index/mainMonitor'">返回</button>
					</div>
			</div>
		</form>
</div>