
<script type="text/javascript" src="__PUBLIC__/echarts/echarts.min.js"></script>
<style type="text/css">
	.main_bd {
    padding-top: 0px;
    padding-bottom: 0px;
}

</style>
<script type="text/javascript">
	$(document).ready(function(){
			$("ul li:contains(成绩分析)").addClass("active");
			//$('#main').hide();
			
	});
</script>
<div class="data_list">
		<div class="data_list_title" align="center">
			<font size="5" style="line-height: 25px" >
			{$currentUser.className}成绩分析
		</div>
		<div class="data_form" >
			<div align="center">
				<font id="error" color="red">{$error }</font>
			</div>
			<div class='main_bd' align="left"><div class="container-fluid">
			<div class="row-fluid">
				<div class="span6">
				<div id="main1" align="left" style="width: 500px;height:400px;float: left">
				</div>
				</div>
				<div class="span6">
				<div id="main2" align="right" style="width: 500px;height:400px;float: right">
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
				<div id="main3" align="left" style="width: 500px;height:400px;float: left">
				</div>
				</div>
				<div class="span6">
				<div id="main4" align="right" style="width: 500px;height:400px;float: right">
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
				<div id="main5" align="left" style="width: 500px;height:400px;float: left">
				</div>
				</div>
				<div class="span6">
				<div id="main6" align="right" style="width: 500px;height:400px;float: right">
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
				<div id="main7" align="left" style="width: 500px;height:400px;float: left">
				</div>
				</div>
				<div class="span6">
				<div id="main8" align="right" style="width: 500px;height:400px;float: right">
					</div>
				</div>
			</div>
			</div>
			</div>
			<!--
			<button class="btn btn-primary" type="button" onclick="javascript:window.location='__CONTROLLER__/lists'">
				返回
			</button>
			-->
		</div>
</div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例

        <volist name = 'classScoreAnalyse' id='term' key='k'>
        	var myChart{$k} = echarts.init(document.getElementById('main{$k}'));
        // 指定图表的配置项和数据
	       var option{$k} = {
	       		title: {
		        text: '第{$term.term}学期成绩分析'
		    	},
			    tooltip: {
			        trigger: 'axis'
			    },
			    toolbox: {
			        feature: {
			            dataView: {show: true, readOnly: false},
			            magicType: {show: true, type: ['line', 'bar']},
			            restore: {show: true},
			            saveAsImage: {show: true}
			        }
			    },
			    legend: {
			        data:['成绩分布','成绩趋势']
			    },
			    xAxis: [
			        {
			            type: 'category',
			            data: ['','10+','20+','30+','40+','50+','60+','70+','80+','90+']
			        }
			    ],
			    yAxis: [
			        {
			            type: 'value',
			            name: '人数',
			            min: 0,
			            max: {$term[max] + 10},
			            interval: 10,
			            axisLabel: {
			                formatter: '{value}'
			            }
			        }
			    ],
			    series: [
			        {
			            name:'成绩分布',
			            type:'bar',
			            data:[
			            <volist name='term[data]' id='vo'>
			            	{$vo},
			            </volist>
			            ]
			        },
			        {
			            name:'人数',
			            type:'line',
			            data:[
			            <volist name='term[data]' id='vo'>
			            	{$vo},
			            </volist>
			            ]
			        }
			    ]
			};

        // 使用刚指定的配置项和数据显示图表。
        myChart{$k}.setOption(option{$k});

        </volist>
    </script>