
<style type="text/css">
.activityName{
	padding: 20px;
    padding-left: 50px;
    border: 1px solid #cccccc;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-box-shadow:0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    margin:0px auto;
    background-image:-moz-linear-gradient(top,#ffffff,#f2f2f2);
    background-image:-webkit-gradient(linear,left top,bottom,from(#ffffff),to(#f2f2f2));
}
.question table{
	margin-top: 10px;
}
</style>
<div class="data_list">
		<div class="data_list_title">
		{$activity.name} 报名
		</div>
		<form action="__CONTROLLER__/joining" method="post">
			<div class="data_form" >
				<php>
					//print_r($activity);
				</php>
					<div align="center">
						<font id="error" color="red">{$error }</font>
					</div>
				<div class='main_bd' align="center">
					<input type="hidden" id="activityId" name="activityId" value="{$activity.activityId }"/>
					<div class ="activity">
						<table align="">
							<tr><td>
							<div class="activityName">
							<table>
								<tr>
									<td><font color="red">*</font>活动名称：</td>
									<td><label>{$activity.name } </label></td>
								</tr>
								<tr>
									<td><font color="red">*</font>描述：</td>
									<td><label>{$activity.description } </label></td>
								</tr>
								<tr>
									<td><font color="red">*</font>开始时间：</td>
									<td>
		                    			<label id="startTime" name="startTime" placeholder="起始日期">{$activity.startTime}</label>
		               				</td>
								</tr>
								<tr>
									<td><font color="red">*</font>截止时间：</td>
									<td>
										<label id="endTime" name="endTime" placeholder="截止日期" >{$activity.endTime}</label>
		               				</td>
								</tr>
							</table></div></td></tr>
							<volist name="activity[questions]" id="question" key='kq'>
							<tr><td>
								<div id='question{$kq-1}' class="question"><table>
									<tr> 
										<td>
											<label id="questions[{$kq-1}][name]"  name="questions[{$kq-1}][name]">{$question.question }</label>
										</td>
									</tr>
									<tr>
										<td>
											<input type="hidden" id='questions[{$kq-1}][questionId]' name="questions[{$kq-1}][questionId]" value="{$question.questionId }" />
											<input type="hidden" id='questions[{$kq-1}][contentId]' name="questions[{$kq-1}][contentId]" value="{$question.contentId }" />
										<input type="text" id="questions[{$kq-1}][content]"  name="questions[{$kq-1}][content]" value="{$question.content }"  style="margin-top:5px;height:30px;width: 300px;" />
										</td>
									</tr>
									</table>
								</div></td></tr>
							</volist>	
							<tr><td colspan="2">
					<div align="center">
						<input type="submit" class="btn btn-primary" value="报名参加"/>
						&nbsp;<button class="btn btn-primary" type="button" onclick="javascript:window.location='__CONTROLLER__/lists'">返回</button>
					</div></td></tr>
						</table>
						<br/>
						<table align="left">
							
						</table>
						
					</div>
					<div class = 'votequestions'>
						
					</div>
				</div>
			</div>
		</form>
</div>